.categories {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
    .categories {
        flex-direction: column;
        align-items: center;
    }
}